#### make an empty dictionary named practice_dict

In [2]:
practice_dict = {}
practice_dict

{}

#### add name of student with their marks in above dictionary

In [10]:
practice_dict['ashish'] = 75
practice_dict['mayurr'] = 80
practice_dict['sanket'] = 90
practice_dict

{'ashish': 75, 'mayurr': 80, 'sanket': 90}

#### change the key name for one key in dictionary [example - {'mayurr' : 55} -----> {'mayur' : 55} ]

In [11]:
practice_dict['mayur'] = practice_dict['mayurr']
del practice_dict['mayurr']
practice_dict

{'ashish': 75, 'sanket': 90, 'mayur': 80}

#### change key as a value and value as key in above dictionary. [example - {'mayur': 55} -----> {55: 'mayur'}

In [17]:
new_dict = {}
for key,value in practice_dict.items():
    new_dict = dict([(value,key)])
    print(new_dict)

{75: 'ashish'}
{90: 'sanket'}
{80: 'mayur'}

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

#### make a dictionary using two lists
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']<br>
covid_counts = [12000, 22000, 9000, 3000]

In [30]:
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]
dict_comb = dict(zip(city_names, covid_counts))
dict_comb

{'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### remove pune from above dictionary

In [31]:
dict_comb.pop('pune')

12000

In [32]:
dict_comb

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### add delhi = 20000 in dictionary

In [34]:
dict_comb.update({'delhi':20000})
dict_comb

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000, 'delhi': 20000}

#### print keys of dictionary

In [35]:
for key in dict_comb.keys():
    print(key)

mumbai
nashik
ahmednagar
delhi

#### print values of dictionary

In [36]:
for value in dict_comb.values():
    print(value)

22000
9000
3000
20000

#### print items of dictionary

In [37]:
for item in dict_comb.items():
    print(item)

('mumbai', 22000)
('nashik', 9000)
('ahmednagar', 3000)
('delhi', 20000)

#### print 3rd item of dictionary

In [39]:
for item_, item in enumerate(dict_comb):
    if item_ == 2:
        print(list(dict_comb.items())[item_])

('ahmednagar', 3000)

#### ----------------------------------------------------------------------------------------------------------------------------------------------

### perform operations on dictionary using all dictionary functions

####  Access the value of key ‘history’

In [40]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"nikita",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [54]:
sample_dict["class"]["student"]["marks"]["history"]

80

#### Initialize dictionary with default values

In [69]:
employees = ['mayur', 'aniket', 'John']
defaults = {"designation": 'Application Developer', "salary": 80000}

In [74]:
defaults_dict = dict.fromkeys(defaults)

In [76]:
defaults_dict

{'designation': None, 'salary': None}

In [77]:
new_employees = employees.copy()
val = 80000
new_names_dict = dict.fromkeys(new_employees,val)
new_names_dict

{'mayur': 80000, 'aniket': 80000, 'John': 80000}

#### Create a new dictionary by extracting the following keys from a given dictionary

In [18]:
# Expected output - {'name': 'akshay', 'salary': 8000}
sampleDict = {
  "name": "akshay",
  "age":22,
  "salary": 80000,
  "city": "Ahmednagar"
  
}
keys = ["name", "salary"]

In [19]:
 for i in keys:
        print({i:sampleDict[i]})

{'name': 'akshay'}
{'salary': 80000}

#### Check if a value 200 exists in a dictionary
expected output - True

In [28]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [31]:
for i in sampleDict.values():
    if i == 200:
        print(True)

True

#### Rename key city to location in the following dictionary

In [32]:
sampleDict = {
  "name": "Vishnu",
  "age":22,
  "salary": 80000,
  "city": "Mumbai"
}

In [33]:
sampleDict['location'] = sampleDict.pop("city")
sampleDict

{'name': 'Vishnu', 'age': 22, 'salary': 80000, 'location': 'Mumbai'}

#### Get the key corresponding to the minimum value from the following dictionary

In [36]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [38]:
minimun = min(sampleDict,key=sampleDict.get)
print(minimun)

Math

#### Given a Python dictionary, Change Brad’s salary to 8500

In [34]:
sample_dict = {
     'emp1': {'name': 'mayur', 'salary': 75000},
     'emp2': {'name': 'nikhil', 'salary': 80000},
     'emp3': {'name': 'sanket', 'salary': 65000}
}

In [35]:
sample_dict['emp2']['salary'] = 8500
sample_dict

{'emp1': {'name': 'mayur', 'salary': 75000},
 'emp2': {'name': 'nikhil', 'salary': 8500},
 'emp3': {'name': 'sanket', 'salary': 65000}}

In [ ]:

.......................................................................................................................................................................................................